.search-query-item {
  color: rgba(100, 116, 139, 1);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 3px 15px;
}
.item-border {
  border-bottom: 0.01em solid rgba(100, 116, 139, 1);
}
.state-code-card {
  background-color: rgba(28, 212, 212, 0.16);
  color: rgba(250, 204, 21, 1);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3px 10px;
}
.arrow-card {
  font-size: 24px;
  margin-left: 8px;
}
.nav-link {
  text-decoration: none;
}
